* {
    margin: 0;
    padding: 0;
}

:root {
    --accent: 124, 58, 237;
    --font: 'Georama';
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
}

html {
    font-family: var(--font), sans-serif;
    scroll-behaviour: smooth
}

/** TAILWIND **/
@tailwind base;
@tailwind components;
@tailwind utilities;