* {
    margin: 0;
    padding: 0;
}

:root {
    --accent: 124, 58, 237;
    --font: 'Georama';
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da6262 30%, rgb(78, 214, 60) 60%);
}

html {
    font-family: var(--font), sans-serif;
    scroll-behaviour: smooth
}

/** TAILWIND **/
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
.flex-center {
        @apply flex justify-center items-center
    }
.bg-gradient-accent {
    background: var(--accent-gradient) no-repeat;
    transition: 0.5s ease;
    background-position: -500px
}

.bg-gradient-accent:is(:hover, :focus) {
    background-position: 0
}
}