---
// export interface Props {
// 	title: string;
// }
import type {BodyProps as Props} from "@interfaces/index"
import '@styles/index.css'
const { title }:Props = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<!-- <style is:global>
	*{
		margin:0;
		padding:0;
	}

	:root {
		--accent: 124, 58, 237;
		--font:'Georama',
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family:var(--font), sans-serif;
		scroll-behaviour:smooth
	}

	
</style> -->
